<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sisaonline.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sisaonline.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sisaonline</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sisaonline</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SisaEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=d2bsikz6ej.database.windows.net,1433;Initial Catalog=sisa;User ID=sisa;Password=196820Sis@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="sisa.Models.SisaEntities, sisa" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SisaModel" Order="2" Enabled="False">
          <Destination Path="Data Source=d2bsikz6ej.database.windows.net,1433;Initial Catalog=sisa;User ID=sisa;Password=196820Sis@" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=NBANDRE\SQLEXPRESS;Initial Catalog=SISABANCO;User ID=sa;Password=1234;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SisaModel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=NBANDRE\SQLEXPRESS;initial catalog=SISABANCO;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SisaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SisaModel.csdl|res://*/Models.SisaModel.ssdl|res://*/Models.SisaModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=d2bsikz6ej.database.windows.net,1433;Initial Catalog=sisa;User ID=sisa;Password=196820Sis@"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SisaModel-Web.config Connection String">
      <ParameterValue>data source=d2bsikz6ej.database.windows.net,1433;initial catalog=sisa;user id=sisa;password=196820Sis@;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>